<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/-assets/css/style.css">
    
</head>
<body>
          <h1>{{ title |upper}}</h1>

{#j'ai ajouté le "filtre upper" qui met en majuscule mon titre ici.#}


{#Les filtres twig permettent de personnaliser nos éléments. (pour voir les filtres: filtre twig), sur google.#}

        {#on met les doubles accolade lorsqu'il s'agit d'une chainede caractère ou d'un nombre pour l'affichage. Mais, si c'est tableau, il faut parcourir le tableau et c'est la boucle for qu'il faut.#}

    <h1>Template twig</h1>
    <p>Ceci est un début de projet avec le template twig. Le but est d'apprendre à mieux utiliser le template twig qui est un outil indispensable pour nous développeurs</p>
    <h1>La liste de mes users</h1>
    <ul>
        {% for user in users %}
        <li>{{ user }}</li>
            {%  endfor %}
    </ul>

    <script src="/-assets/css/js/script.js"></script>
</body>
</html>