<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        color:rgb(0, 55, 255);
        text-align: center;
        text-decoration:underline;
    }
    h2{
        color:rgb(0, 55, 255);
        text-align: center;
       
    }
    body{
        background: rgb(225, 230, 231);
    }
    p{
        color: black;
        text-align: center;
        border: 1px solid rgb(0, 17, 255);
        width: 300px;
        margin: 30px auto;
    }
    
    ul{
        
        text-align: center;
        border: 1px solid rgb(0, 17, 255);
        width: 300px;
        margin: 30px auto;
        list-style: none;
    }

    }

</style>
<body>
          <h1>{{ title}}</h1>

        {#on met les doubles accolade lorsqu'il s'agit d'une chainede caractère ou d'un nombre pour l'affichage. Mais, si c'est tableau, il faut parcourir le tableau et c'est la boucle for qu'il faut.#}

    <h1>Template twig</h1>
    <p>Ceci est un début de projet avec le template twig. Le but est d'apprendre à mieux utiliser le template twig qui est un outil indispensable pour nous développeurs</p>
    <h1>La liste de mes users</h1>
    <ul>
        {% for user in users %}
        <li>{{ user }}</li>
            {%  endfor %}
    </ul>
  

</body>
</html>